<example-comp fxFlexFill #ex collapsible="no" collapsed="no" comp-name="TREE.STATIC.COMPONENT" comp-desc="TREE.STATIC.COMPONENT.DESC"
  [files]="files" (showSource)="onShowSource(treeview, ex)">

  <o-tree #treeview fxFlex root-title="CUSTOMERS" [static-data]="getCustomers()" keys="CUSTOMERID" columns="CUSTOMERID;SURNAME;NAME"
    description-columns="SURNAME;NAME" separator=", ">

    <!-- <o-tree-node root-title="ACCOUNTS" show-root="no" service-type="DummyService"
            service="customers" entity="customerAccount"
            columns="ACCOUNTID;CUSTOMERID;ACCOUNT" description-columns="ACCOUNT"
            keys="ACCOUNTID" parent-keys="CUSTOMERID">

            <o-tree-node root-title="ACCOUNT_CONCEPTS" show-root="no" service-type="DummyService"
              service="branches" entity="accountConcepts"
              columns="CONCEPT;ACCOUNTID" description-columns="CONCEPT"
              keys="CONCEPT;ACCOUNTID" parent-keys="ACCOUNTID">
            </o-tree-node>

            <o-tree-node root-title="ACCOUNT_MOVEMENTTYPES" show-root="no" service-type="DummyService"
              service="branches" entity="accountMovementTypes"
              columns="DESCRIPTION;ACCOUNTID" description-columns="DESCRIPTION"
              keys="DESCRIPTION;ACCOUNTID" parent-keys="ACCOUNTID">
            </o-tree-node>

          </o-tree-node> -->

  </o-tree>

</example-comp>