<o-form service="branches" entity="account" keys="ACCOUNTID" keys-sql-types="INTEGER" columns="ACCOUNTID;BALANCE;ENTITYID;OFFICEID;CDID;ANID;ACCOUNTTYP"
  fxLayout="column" show-header="yes" header-actions="R;U;D" #oForm label-header="ACCOUNT" service-type="DummyService">

  <div fxLayout="column" fxLayoutGap="24px" layout-padding>

    <o-row attr="row1" title="CUSTOMER_DATA" layout-padding layout-align="start center" class="rounded-panel">
      <o-currency-input attr="BALANCE" class="margin-right-24"></o-currency-input>
      <o-date-input attr="STARTDATE" class="margin-right-24"></o-date-input>
      <o-date-input attr="ENDDATE"></o-date-input>
    </o-row>

    <o-column attr="other_data" title="TRANSACTIONS" layout-padding layout-align="start stretch" class="rounded-panel">

      <o-table fxFlex service-type="DummyService" service="movements" entity="movement" keys="MOVEMENTID" parent-keys="ACCOUNTID"
        detail-form-route="transactions" insert-form-route="transactions/new" edit-form-route="transactions" columns="ACCOUNTID;MOVEMENTID;DATE_;CONCEPT;MOVEMENT;MOVEMENTTYPES"
        visible-columns="DATE_;CONCEPT;MOVEMENT;MOVEMENTTYPES" title="MOVEMENTS" sort-columns="DATE_" query-on-init="false"
        query-rows="5" quick-filter="yes" pageable="no">

        <o-table-columns-filter></o-table-columns-filter>

        <o-table-column attr="DATE_" title="DATE_" type="date" format="LL" width="30%"></o-table-column>
        <o-table-column attr="CONCEPT" title="CONCEPT" width="18%"></o-table-column>
        <o-table-column attr="MOVEMENT" title="MOVEMENT" width="18%" type="currency" currency-symbol="€"
          currency-symbol-position="right" thousand-separator="." decimal-separator=","></o-table-column>
        <o-table-column attr="MOVEMENTTYPES" title="MOVEMENTTYPES">
        </o-table-column>
      </o-table>
    </o-column>

  </div>

</o-form>